version: "3.9"

services:
  app:
    image: ${REGISTRY}/${IMAGE}:latest
    container_name: laravel_app
    restart: always
    env_file:
      - .env.runtime
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
