name: Deploy Laravel Docker App to EC2

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Docker image
        run: |
          docker build -t $ECR_REPOSITORY -f docker/php/Dockerfile .
          docker tag $ECR_REPOSITORY:latest \
            ${{ steps.login-ecr.outputs.registry }}/$ECR_REPOSITORY:latest
          docker push \
            ${{ steps.login-ecr.outputs.registry }}/$ECR_REPOSITORY:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            cd /var/www/html

            echo "Creating runtime env file..."
            cat > .env.runtime <<EOF
            APP_NAME=Laravel
            APP_ENV=production
            APP_KEY=base64:1L2UsHPbKlEZpjZZB2wV4jGuIEsExja+exUmOYHQlgY=
            APP_DEBUG=false
            APP_URL=http://13.201.31.170

            DB_CONNECTION=mysql
            DB_HOST=${{ secrets.DB_HOST }}
            DB_PORT=3306
            DB_DATABASE=${{ secrets.DB_DATABASE }}
            DB_USERNAME=${{ secrets.DB_USERNAME }}
            DB_PASSWORD=${{ secrets.DB_PASSWORD }}

            CACHE_DRIVER=file
            QUEUE_CONNECTION=sync
            SESSION_DRIVER=file
            EOF

            REGISTRY=${{ steps.login-ecr.outputs.registry }}
            IMAGE=${{ secrets.ECR_REPOSITORY }}

            echo "Logging into ECR..."
            aws ecr get-login-password --region $AWS_REGION | \
              docker login --username AWS --password-stdin $REGISTRY

            echo "Pulling latest image..."
            docker pull $REGISTRY/$IMAGE:latest

            docker compose down
            docker compose up -d
            sleep 10

            echo "Running Laravel commands..."
            docker exec laravel php artisan key:generate --force || true
            docker exec laravel php artisan config:clear
            docker exec laravel php artisan migrate --force
